<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HBBlock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08B23C931E5A7C6F0077B6A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B23CAC1E5A7C6F0077B6A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B23CB71E5A7C6F0077B6A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
